.basic-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
}

.group {
    display: flex;
    margin: auto;
}

.group-col {
    display: table-row-group;
    margin: 3px;
}

#char-info {
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#character {
    display: table-row-group;
    text-align: center;
}

#pers-info {
    margin: auto;
}